Question 1

In [35]:
#Employee Data
Employee_name=input("Enter your name:\n")
Employee_number=input("Enter your Employee Number:\n")
Week_Ending=input("Enter the Week ending date:\n")
Hours_Worked=float(input("Enter the number of hours worked:\n"))
Rate_Per_Hour=float(input("Enter the rate per hour:\n"))
Standard_Tax_Rate=float(input("Enter Standard tax rate:\n"))
Overtime_Tax_Rate=float(input("Enter Overtime tax rate:\n"))

#working hours & overtime details
Overtime_Rate=Rate_Per_Hour*1.5
Standard_working_hours=37.5
overtime_hours=Hours_Worked-37.5

if(Hours_Worked<37.5):
    Gross_Pay=Hours_Worked*Rate_Per_Hour
    Tax_Pay=Gross_Pay*Standard_Tax_Rate
    Net_Pay=Gross_Pay+Tax_Pay
elif (Hours_Worked>37.5):
        Gross_Pay=Rate_Per_Hour*37.5 #pay for hours less than 37.5 hours
        Tax_pay_1=Gross_Pay*Standard_Tax_Rate
        net_pay_1=Gross_Pay+Tax_pay_1
        Overtime_Pay=((Hours_Worked-37.5)*Overtime_Rate)
        Tax_pay_2=Overtime_Pay*Overtime_Tax_Rate
        net_pay_2=Overtime_Pay+Tax_pay_2
        Tax_Pay=Tax_pay_1+Tax_pay_2
        Net_Pay=net_pay_1+net_pay_2

#printing the payslip
print("                               PAYSLIP                          ")
print("Week Ending ",Week_Ending )
print("Employee:",Employee_name)
print("Employee Number:",Employee_number)

print("                               Earnings                     Deductions           ")
print("                            Hours   Rate   Total")
print("Hours (normal)               ",Hours_Worked,    Rate_Per_Hour,     Gross_Pay,     "Tax @",Standard_Tax_Rate, Gross_Pay*Standard_Tax_Rate  )
print("Hours (Overtime)             ",overtime_hours,  Overtime_Rate,     Overtime_Pay,  "Tax @",Overtime_Tax_Rate, ((Hours_Worked-37.5)*Overtime_Rate*Overtime_Tax_Rate))

print("                              Total Pay:",                                                                   Gross_Pay             )
print("                              Total Deductions:",                                                            Tax_Pay              )
print("                              Net Pay:",                                                                     Net_Pay)

Enter your name:
Tia
Enter your Employee Number:
2381
Enter the Week ending date:
28-04-24
Enter the number of hours worked:
55
Enter the rate per hour:
1200
Enter Standard tax rate:
20
Enter Overtime tax rate:
30
                               PAYSLIP
Week Ending  28-04-24
Employee: Tia
Employee Number: 2381
                               Earnings                     Deductions
                            Hours   Rate   Total
Hours (normal)                55.0 1200.0 45000.0 Tax @ 20.0 900000.0
Hours (Overtime)              17.5 1800.0 31500.0 Tax @ 30.0 945000.0
                              Total Pay: 45000.0
                              Total Deductions: 1845000.0
                              Net Pay: 1921500.0

Question 2

In [28]:
print('#####################################################')
print('              WELCOME TO DBS CONSOLE                 ')
print('#####################################################')
Input_name = input("Enter your username in the format Domain_name\\Username: ")
Domain_name, username = Input_name.split('\\')
print("Domain : ", Domain_name)
print("Username : ", username)

#####################################################
              WELCOME TO DBS CONSOLE
#####################################################
Enter your username in the format Domain_name\Username: DBS\2032982
Domain :  DBS
Username :  2032982

Question 3

In [11]:
def integer_value(numbers):
  count = {}
  for num in numbers:
    if num in count:
      count[num] += 1
    else:
      count[num] = 1
  return count

integers = []
counter = 1

print("Enter the value to check frequency or 'QUIT to exit")

while True:
  Integer = input("Enter the integer: ")
  if Integer.upper() == 'QUIT':
    break
  integers.append(Integer)
  counter+=1

count = integer_count(integers)
print()
print("Frequency of each Number is:")
for num, freq in count.items():
  print(f"Number: {num}, Frequency: {freq}")

Enter the value to check frequency or 'QUIT to exit
Enter the integer: 2
Enter the integer: 1
Enter the integer: 1
Enter the integer: 2
Enter the integer: 3
Enter the integer: 3
Enter the integer: 4
Enter the integer: Quit

Frequency of each Number is:
Number: 2, Frequency: 2
Number: 1, Frequency: 2
Number: 3, Frequency: 2
Number: 4, Frequency: 1

Question 4

In [21]:
print('##############################################')
print('              MYPY PHONE BOOK                 ')
print('##############################################')

phone_directory = {}

def Add_contact(person_name, phone_number):
    if phone_number in phone_directory.values():
        print("Error: Phone number already exists.")
    else:
        phone_directory[person_name] = phone_number
        print("Contact added:",person_name, phone_number)

def Delete_contact(phone_number):
    for name, phone in phone_directory.items():
        if phone == phone_number:
            del phone_directory[name]
            print("Contact removed:",name,phone)
            return
    print("Error: Phone number not found.")

def Update_contact(person_name, phone_number):
    if phone_number in phone_directory.values():
        print("Error: Phone number already exists.")
    elif person_name not in phone_directory:
        print("Error: Name not found.")
    else:
        phone_directory[person_name] = phone_number
        print("Contact updated:",person_name, phone_number)

def Lookup_contact(phone_number):
    for name, phone in phone_directory.items():
        if phone == phone_number:
            print("Name:" ,name, "Phone:", phone)
            return
    print("Phone number not found.")
    option = input("Do you want to Add this contact? (Yes/No): ")
    if option == "Yes":
        name = input("Enter name: ")
        Add_contact(name, phone_number)

while True:
        print("\nMYPY Phone Book System")
        print("1. Add Contact")
        print("2. Delete Contact")
        print("3. Update Contact")
        print("4. Lookup Contact")
        print("5. Quit")

        choice = input("Enter your choice: ")

        if choice == "1":
            name = input("Enter name: ")
            number = input("Enter phone number: ")
            Add_contact(name,number)
        elif choice == "2":
            number = input("Enter phone number to Delete: ")
            Delete_contact(number)
        elif choice == "3":
            name = input("Enter name to Update: ")
            number = input("Enter new phone number: ")
            Update_contact(name,number)
        elif choice == "4":
            number = input("Enter phone number to search: ")
            Lookup_contact(number)
        elif choice == "5":
            print("Exiting program.")
            break
        else:
            print("Invalid choice. Please try again.")

##############################################
              MYPY PHONE BOOK
##############################################

MYPY Phone Book System
1. Add Contact
2. Delete Contact
3. Update Contact
4. Lookup Contact
5. Quit
Enter your choice: 1
Enter name: Disha
Enter phone number: 876356511
Contact added: Disha 876356511

MYPY Phone Book System
1. Add Contact
2. Delete Contact
3. Update Contact
4. Lookup Contact
5. Quit
Enter your choice: 1
Enter name: Tanvi
Enter phone number: 9876355822
Contact added: Tanvi 9876355822

MYPY Phone Book System
1. Add Contact
2. Delete Contact
3. Update Contact
4. Lookup Contact
5. Quit
Enter your choice: 4
Enter phone number to search: 9876355822
Name: Tanvi Phone: 9876355822

MYPY Phone Book System
1. Add Contact
2. Delete Contact
3. Update Contact
4. Lookup Contact
5. Quit
Enter your choice: 3
Enter name to Update: Tanvi
Enter new phone number: 9004756314
Contact updated: Tanvi 9004756314

MYPY Phone Book System
1. Add Contact
2. Delete Contact
3. Update Contact
4. Lookup Contact
5. Quit
Enter your choice: 2
Enter phone number to Delete: 9004756314
Contact removed: Tanvi 9004756314

MYPY Phone Book System
1. Add Contact
2. Delete Contact
3. Update Contact
4. Lookup Contact
5. Quit
Enter your choice: Quit
Invalid choice. Please try again.

MYPY Phone Book System
1. Add Contact
2. Delete Contact
3. Update Contact
4. Lookup Contact
5. Quit
Enter your choice: 5
Exiting program.